@import url(http://fonts.googleapis.com/css?family=Lato:300,400);

html,body,* {
	font-family: 'Lato', sans-serif;
}

.success-lighter {
	color: #76B295;
}
.success-light {
	color: #4A9470;
}
.success {
	color: #277650;
}
.success-dark {
	color: #0F5935;
}
.success-darker {
	color: #003B1F;
}


.primary-lighter {
	color: #708FA3;
}
.primary-light {
	color: #486F88;
}
.primary {
	color: #29526D;
}
.primary-dark {
	color: #123852;
}
.primary-darker {
	color: #032236;
}


.warning-lighter {
	color: #FFD9AA;
}
.warning-light {
	color: #D4A66A;
}
.warning {
	color: #AA7839;
}
.warning-dark {
	color: #805115;
}
.warning-darker {
	color: #552F00;
}


.danger-lighter {
	color: #FFC0AA;
}
.danger-light {
	color: #D4856A;
}
.danger {
	color: #AA5639;
}
.danger-dark {
	color: #803015;
}
.danger-darker {
	color: #551600;
}